* {
    margin: 0;
    padding: 0;
}

:root {
    --body-bg: #F6F6F6;
    --lightgray: #cbcbcb;
    --yellow: #FDAD00;
    --darkgray: #8D8D8D;
    --red: #FF004E;
    --white: #FBFBFB;
    --cyan: #22ACA8;
    --darkblue: #000536;
}

html {
    background-color: var(--body-bg);
    font-family: 'Poppins', sans-serif;
}

.main {
    width: 100%;
    height: 100vh;
}

.container {
    background: url("/img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: grid;
    grid-template-columns: repeat(auto-fit, 50%);
    grid-template-rows: repeat (10%, auto-fit);
    grid-template-areas: "nav nav"
    "main banner"
    "social social"
    "services services";
    padding: 1rem 6rem 6rem;
    align-items: center;
}

.main-content {
    grid-area: main;
    align-items: center;
}

.text {
    align-items: center;
}

.banner {
    grid-area: banner;
}

.banner img {
    width: 550px;
}

.navbar {
    display: flex;
    grid-area: nav;
    justify-content: space-between;
    padding: 0.8rem 1rem;
    align-items: center;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin: 0 1rem;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--darkblue);
}

.btn-cta {
    text-decoration: none;
    color: var(--white) ! important;
    background: var(--red);
    padding: 0.8rem 1.5rem;
    border-radius: 50px;
}

.desc {
    line-height: 1.3;
}

.text p {
    color: var(--darkblue);
    font-size: 30px;
    font-weight: 400;
}

.text h1 {
    color: var(--darkblue);
    text-transform: uppercase;
    font-size: 65px;
    letter-spacing: 12px;
    line-height: 1;    
}

.text h2 { 
    color: var(--darkblue);
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
}

.desc p {
    color: var(--darkgray);
    font-size: 16px;
    margin-bottom: 30px;
}

.red-btn {
    text-decoration: none;
    color: var(--white) ! important;
    background: var(--red);
    padding: 0.8rem 1.5rem;
    border-radius: 50px;
    border: 1px solid;
    border-color: var(--red);
}

.cyan-btn {
    text-decoration: none;
    color: var(--cyan);
    border: 1px solid;
    border-color: var(--cyan);
    padding: 0.8rem 1.5rem;
    border-radius: 50px;
}

.social-media {
    grid-area: social;
}

.social-media ul {
    display: flex;
    justify-content: center;
}

.social-media ul li {
    list-style-type: none;
    margin: 0 1rem;
}

.social-media ul li a {
    color: var(--darkblue);
}

.services {
    background: url("/img/bg-services.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat (10%, auto-fit);
    grid-template-areas: "title title title"
    "service-1 service-2 service-3"
    "service-4 service-5 service-6";
    padding: 1rem 8rem;
}

.services-title {
    grid-area: title;
    justify-content: center;
    align-items: center;
}

.services-title p {
    text-align: center;
    text-transform: uppercase;
    color: var(--lightgray);
}

.services h2 {
    text-align: center;
}

/****** Services1 Section *******/

.service-1 {
    grid-area: service-1;
    padding: 1rem;
    align-items: center;
    position: relative;
    margin-top: 5rem;
}

.service-1 p {
    text-align: center;
    position: absolute;
    margin-top: 0.75rem;
}

.service-1 h2 {
    margin-top: 3rem;  
}

.service-1 i {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 1rem;
    font-size: 3rem;
}

/****** Services2 Section *******/

.service-2 {
    grid-area: service-2;
    padding: 1rem;
    align-items: center;
    position: relative;
    margin-top: 5rem;
}

.service-2 p {
    text-align: center;
    position: absolute;
    margin-top: 0.75rem;
}

.service-2 h2 {
    margin-top: 3rem;  
}

.service-2 i {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 1rem;
    font-size: 3rem;
}

/****** Services3 Section *******/

.service-3 {
    grid-area: service-3;
    padding: 1rem;
    align-items: center;
    position: relative;
    margin-top: 5rem;
}

.service-3 p {
    text-align: center;
    position: absolute;
    margin-top: 0.75rem;
}

.service-3 h2 {
    margin-top: 3rem;  
}

.service-3 i {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 1rem;
    font-size: 3rem;
}

/****** Services4 Section *******/

.service-4 {
    grid-area: service-4;
    padding: 1rem;
    align-items: center;
    position: relative;
    margin-top: 10rem;
}

.service-4 p {
    text-align: center;
    position: absolute;
    margin-top: 0.75rem;
}

.service-4 h2 {
    margin-top: 3rem;  
}

.service-4 i {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 1rem;
    font-size: 3rem;
}

/****** Services5 Section *******/

.service-5 {
    grid-area: service-5;
    padding: 1rem;
    align-items: center;
    position: relative;
    margin-top: 10rem;
}

.service-5 p {
    text-align: center;
    position: absolute;
    margin-top: 0.75rem;
}

.service-5 h2 {
    margin-top: 3rem;  
}

.service-5 i {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 1rem;
    font-size: 3rem;
}

/****** Services6 Section *******/

.service-6 {
    grid-area: service-6;
    padding: 1rem;
    align-items: center;
    position: relative;
    margin-top: 10rem;
}

.service-6 p {
    text-align: center;
    position: absolute;
    margin-top: 0.75rem;
}

.service-6 h2 {
    margin-top: 3rem;  
}

.service-6 i {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 1rem;
    font-size: 3rem;
}